$primary-color: #2a9d8f;
$secondary-color: #264653;

$screen-sm-min: 576px;
$screen-md-min: 768px;
$screen-lg-min: 1080px;

$title-font-weight: 700;
$title-font-size: 24px;

$date-font-weight: 300;

$category-font-weight: 600;
$category-font-size: 18px;

$max-content-width: 50rem;
