@use '../../styles/variables' as *;

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main {
  min-height: calc(100vh - 100px);
  padding-top: 80px;
  width: 100%;
  box-sizing: border-box;
  max-width: $max-content-width;
}

.container {
  width: 100%;
  box-sizing: border-box;
  padding: 0 1rem;
}
