@use '../../styles/variables' as *;

.container {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 7px;
  position: relative;
  scroll-behavior: smooth;
}

.tabs {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
}

.line {
  margin: 0;
}

.selected {
  color: $primary-color;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border-bottom: 3px solid $primary-color;
  }
}

.btn_category {
  padding: 10px 15px;
  background-color: #fff;
  border: 0;
  cursor: pointer;
  font-weight: $category-font-weight;
  font-size: $category-font-size;
}
