@use '../../styles/variables' as *;

.container {
  background-color: var(--header-color);
  height: 60px;
  box-shadow: 0 5px 10px 0 rgb(0 0 0 / 15%);
  width: 100%;
  margin-bottom: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
  position: fixed;
}

.title {
  font-weight: $title-font-weight;
  font-size: $title-font-size;
  color: #fff;
  margin: 0 0 0 10px;
  display: inline;
  font-family: 'Abril Fatface', 'Noto Serif KR';
}
