@use '../../styles/variables' as *;

.header {
  margin-bottom: 1rem;
}

.title {
  font-weight: $title-font-weight;
  font-size: $title-font-size;
  color: $primary-color;
  margin-bottom: 0.5rem;
}

.date {
  margin-left: 0.5rem;
  font-weight: $date-font-weight;
  color: #808080;
  opacity: 0.7;
}
